.list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    padding: 20px;
}

.item {
    border: 1px solid rgb(66, 64, 64);
    border-radius: 4px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    justify-content: space-between;
}
